extends baseEmail

block content
  p Hi #{firstName}!
  p Good news🤗, Your booking has been confirmed.
  p We will be happy to host you.
  p This is an automated email, you are not required to reply to this.
  p If you have any questions or need any help, please reach out to
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') support
  p and let us know.