footer.footer
  .footer__logo
    img(src='img/logo-black.png' alt='logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Find a store
    li: a(href='#') Careers
    li: a(href='#') Contact
  ul.footer__nav
    li: a(href='#') Offers
    li: a(href='#') Blog
    li: a(href='#') Return Policy
    li: a(href='#') International Shipping
    li: a(href='#') Write to us