extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Uh oh! Cant Find What You Are Looking For!   
        h2.error__emoji 😢 🤯
      .error__msg= msg