extends base

block content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg Password Reset Portal
        form.form.form--forgotPassword
          .form__group
            label.form__label(for='email') Enter your Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
          .form__group
            button.btn.btn--green Send Password Reset Link
          .form__group
            a(href="/login").nav__el--2 Back to Login